<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.scau.common.mapper.ActivityCertificateMapper">
<!--    下面这玩意没用了先放着-->
    <update id="updateCertificate" parameterType="edu.scau.common.pojo.ActivityCertificate">
        update activity_certificate set
        activity_content = #{activity_content},
        activity_title = #{activity_title},
        where id = #{id}
    </update>
    <insert id="insertCertificate" parameterType="edu.scau.common.pojo.ActivityCertificate" keyProperty="id" useGeneratedKeys="true">
        insert into activity_certificate ( activity_title, activity_content,user_id,building_time) VALUES
        (#{activityTitle},#{activityContent},#{userId},#{buildingTime})
    </insert>
    <insert id="insertCertificateFile" parameterType="java.util.List">
        insert into certificate_file (certificate_id, file_url) VALUES
        <foreach collection="files" item="item" index="index"
                 separator=",">
            (#{certificateId},#{item})
        </foreach>

    </insert>
    <insert id="insertCertificateLabel" parameterType="arraylist">
<!--        insert into certificate_label(certificate_id, label) VALUES -->
<!--        <foreach collection="labels" separator="," index="index"-->
<!--                 item="item">-->
<!--            (#{certificateId},#{item})-->
<!--        </foreach>-->
        insert into certificate_label (certificate_id, label) VALUES

        (#{certificateId},#{label})
    </insert>
    <insert id="collectedCertificate" parameterType="integer">
        insert into activity_certificate_collected (user_id, collected, certificate_id) VALUES
        (#{userId},1,#{certificateId})
    </insert>
    <delete id="deleteCollectedCertificate" parameterType="integer">
        delete from activity_certificate_collected where user_id = #{userId} and certificate_id = #{certificateId}
    </delete>

    <resultMap id="Certificate" type="edu.scau.common.pojo.ActivityCertificate">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result property="buildingTime" column="building_time"/>
        <result property="activityContent" column="activity_content"/>
        <result property="activityTitle" column="activity_title"/>
        <collection property="fileUrl" javaType="java.util.List" ofType="string"
                    select="edu.scau.common.mapper.ActivityCertificateMapper.selectFileUrl"
                    column="id">
        </collection>
        <collection property="labels" javaType="java.util.List" ofType="string"
                    select="edu.scau.common.mapper.ActivityCertificateMapper.selectLabels"
                    column="id">
        </collection>
    </resultMap>
    <select id="selectCertificate" resultMap="Certificate">
        select * from activity_certificate order by building_time DESC
    </select>
    <select id="selectFileUrl" parameterType="integer" resultType="string">
        select file_url from certificate_file where certificate_id = #{certificateId};
    </select>
    <select id="selectLabels" parameterType="integer" resultType="string">
        select label from certificate_label where certificate_id = #{certificateId};
    </select>
    <select id="checkedCertificateBrowsed" resultType="integer" parameterType="integer">
        select activity_certificate_browsed.id from activity_certificate_browsed
        where user_id = #{userId} and activity_certificate_id = #{certificateId}
    </select>
    <select id="selectCertificateById" parameterType="integer" resultMap="Certificate">
        select * from activity_certificate where  id = #{certificateId}
    </select>
    <select id="checkedCertifiedCollected" parameterType="integer" resultType="integer">
        select id  from activity_certificate_collected where user_id = #{userId} and certificate_Id = #{certificateId}
    </select>
    <insert id="insertCertifiedBrowsed" parameterType="integer">
        insert into activity_certificate_browsed (is_browsed, activity_certificate_id, user_id) values (1,#{certificateId},#{userId});
    </insert>
    <select id="selectCollectedCertificate" parameterType="integer" resultMap="Certificate">
        select acc.certificate_id,ac.* from activity_certificate as ac
        RIGHT JOIN activity_certificate_collected as acc on(
            acc.certificate_id = ac.id and acc.user_id = #{userId})
    </select>
    <update id="updateCertificateBrowsed">
        update activity_certificate_browsed set
        user_id = #{userId},
        activity_certificate_Id = #{certificateId},
        browsed_time = #{browsedTime}
        where   user_id = #{userId} and
        activity_certificate_Id = #{certificateId}
    </update>
    <delete id="deleteCertificateBrowsed" parameterType="integer">
        delete from activity_certificate_browsed where id = #{id}
    </delete>







</mapper>