<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.scau.common.mapper.AssociationMapper">

    <select id="getAssociationByName" resultType="edu.scau.common.pojo.Association" parameterType="String">
        select * from association where `name`=#{associationName}
    </select>
    <select id="getAssociationByType" resultType="String" parameterType="String">
        select `name` from association where type=#{type}
    </select>
    <update id="updateAssociation" parameterType="edu.scau.common.pojo.Association">
        update association
        set name=#{name},
            introduce=#{introduce},
            href=#{href},
            type=#{type}
            where id=#{id}
    </update>
    <insert id="insertAssociation" parameterType="edu.scau.common.pojo.Association" useGeneratedKeys="true" keyProperty="id">
        insert into association
        (name, introduce, href, type)
        VALUES (#{name},#{introduce},#{href},#{type})
    </insert>
</mapper>