<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.scau.common.mapper.AuthenticationMessageMapper">
    <select id="getName" parameterType="int" resultType="string">
        select `name` from user where id=#{userId}
    </select>
    <select id="getUserName" parameterType="int" resultType="string">
        select `username` from `user` where id=#{userId}
    </select>
    <insert id="insertAuthenticationMessage" parameterType="edu.scau.common.pojo.AuthenticationMessage" useGeneratedKeys="true" keyProperty="id">
        insert into authentication_message(user_id, association_name, browsed, `level`,build_time)
        VALUES (#{userId}, #{associationName}, 0, #{level},#{buildTime})
    </insert>
    <insert id="insertPicture">
        insert into authentication_pic(picture_url, authentication_id) VALUES (#{picture},#{authenticationId})
    </insert>
    <select id="getAuthenticationId" resultType="integer">
        select id from authentication_message
        where user_id=#{userId}
        and association_name=#{associationName}
        and build_time=#{buildTime}
    </select>
    <select id="getAuthenticationMessage" resultMap="authenticationMessage" parameterType="int">
        select id,user_id,association_name,browsed,`level`,build_time from authentication_message
    </select>
    <resultMap id="authenticationMessage" type="edu.scau.common.pojo.AuthenticationMessage">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="associationName" column="association_name"/>
        <result property="browsed" column="browsed"/>
        <result property="level" column="level"/>
        <result property="buildTime" column="build_time"/>
    </resultMap>
    <select id="getAuthenticationMessageById" resultMap="authenticationMessage">
        select id,user_id,association_name,browsed,`level`,build_time from authentication_message
        where id=#{id}
    </select>
    <select id="getPicture" resultType="string" parameterType="int">
        select picture_url from authentication_pic
        where authentication_id=#{authenticationId}
    </select>
    <insert id="insertAuthentication" parameterType="edu.scau.common.pojo.Authentication" useGeneratedKeys="true" keyProperty="id">
        insert into authentication(user_id, `level`, authentication_time, association_name)
        VALUES(#{userId}, #{level}, #{authenticationTime}, #{associationName})
    </insert>
    <update id="updateAuthentication" parameterType="int">
        update authentication_message
        set browsed=1
        where id=#{id}
    </update>
</mapper>