<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.scau.common.mapper.FunctionMapper">

    <select id="getActivity" resultMap="activityManger">
        select id,title,build_time from activite
        order by start_time asc
        limit  0,3
    </select>
    <resultMap id="activityManger" type="edu.scau.common.dto.ActivityManger">
        <result column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="build_time" property="buildTime"/>
    </resultMap>
    <select id="getInformation" resultMap="information" parameterType="int">
        select * from information
        where user_id=#{userId}
    </select>
    <resultMap id="information" type="edu.scau.common.pojo.Information">
        <result column="id" property="id"/>
        <result column="information" property="information"/>
        <result column="user_id" property="userId"/>
        <result column="browsed" property="browsed"/>
        <result column="publish_time" property="publishTime"/>
    </resultMap>
    <select id="getInformationById" resultMap="information" parameterType="int">
        select * from information
        where id=#{id}
    </select>
    <update id="updateBrowsed" parameterType="int">
        update information
        set browsed=1
        where id=#{id}
    </update>
    <insert id="insertInformation" parameterType="edu.scau.common.pojo.Information" useGeneratedKeys="true" keyProperty="id">
        insert into information( browsed, user_id, information, publish_time)
        VALUES (#{browsed},#{userId},#{information},#{publishTime})
    </insert>
</mapper>