<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.scau.common.mapper.GroupMapper">
    <insert id="insertGroups"  parameterType="edu.scau.common.pojo.group" useGeneratedKeys="true" keyProperty="id">
        insert into `group`(activity_id, user_id, text, publish_time)
        values (#{activityId},#{userId},#{text},#{publishTime})
    </insert>
    <select id="getGroups" resultMap="group" parameterType="int">
        select id,activity_id,user_id,text,publish_time from `group`
        where activity_id=#{activityId}
    </select>
    <resultMap id="group" type="edu.scau.common.pojo.group">
        <result property="id" column="id"/>
        <result property="activityId" column="activity_id"/>
        <result property="userId" column="user_id"/>
        <result property="text" column="text"/>
        <result property="publishTime" column="publish_time"/>
    </resultMap>

    <select id="getGroup" resultMap="group" parameterType="int">
        select id,activity_id,user_id,text,publish_time from `group`
        where id=#{id}
    </select>
</mapper>