<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.scau.common.mapper.UserMapper">

    <update id="updateUser" parameterType="edu.scau.common.pojo.User">
        update user set
        student_number = #{studentNumber},
        username = #{username},
        name = #{name},
        grade = #{grade},
        major = #{major},
        phone_number = #{phoneNumber},
        wechat_number = #{wechatNumber}
        where id = #{id} and student_number = #{studentNumber}
    </update>
    <resultMap id="user" type="edu.scau.common.pojo.User">
        <result column="id" property="id"/>
        <result property="grade" column="grade"/>
        <result property="level" column="level"/>
        <result property="major" column="major"/>
        <result property="name" column="name"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="studentNumber" column="student_number"/>
        <result property="username" column="username"/>
        <result property="wechatNumber" column="wechat_number"/>
        <result property="yb_identity" column="yb_identity"/>
        <result property="yb_realname" column="yb_realname"/>
        <result property="yb_sex" column="yb_sex" />
        <result property="yb_username" column="yb_username"/>
        <result property="yb_userhead" column="yb_userhead"/>
        <result property="yb_userid" column="yb_userid"/>
    </resultMap>
    <select id="selectById" parameterType="integer" resultMap="user">
        select * from user where id = #{id}
    </select>
    <select id="checkName" parameterType="string" resultMap="user">
        select * from user where student_number = #{student_number}
    </select>
    <insert id="insertGenerateId" parameterType="edu.scau.common.pojo.User" useGeneratedKeys="true" keyProperty="id">
        insert into user
        (student_number,
         username,
         name,
         grade,
          major,
           phone_number,
            wechat_number,
             yb_userid,
              yb_realname,
               yb_sex,
                yb_userhead,
                 yb_identity,
                  level)
                  select
          #{studentNumber},
            #{username},
            #{name},
            #{grade},
            #{major},
            #{phoneNumber},
            #{wechatNumber},
            #{yb_userid},
            #{yb_realname},
            #{yb_sex},
            #{yb_userhead},
            #{yb_identity},
            #{level}
         from DUAL WHERE NOT EXISTS
        (SELECT student_number, name
        FROM user WHERE  yb_userid= #{yb_userid});
    </insert>
<!--    insert into user-->
<!--    (student_number,-->
<!--    username,-->
<!--    name,-->
<!--    grade,-->
<!--    major,-->
<!--    phone_number,-->
<!--    wechat_number,-->
<!--    yb_userid,-->
<!--    yb_realname,-->
<!--    yb_sex,-->
<!--    yb_userhead,-->
<!--    yb_identity,-->
<!--    level) VALUES-->
<!--    (   #{studentNumber},-->
<!--    #{username},-->
<!--    #{name},-->
<!--    #{grade},-->
<!--    #{major},-->
<!--    #{phoneNumber},-->
<!--    #{wechatNumber},-->
<!--    #{yb_userid},-->
<!--    #{yb_realname},-->
<!--    #{yb_sex},-->
<!--    #{yb_userhead},-->
<!--    #{yb_identity},-->
<!--    #{level})-->
    <select id="selectByYBId" parameterType="string" resultMap="user">
        select * from user <where>
        yb_userid = #{yb_userid}
    </where>
    </select>
    <delete id="deleteUserById" parameterType="integer">
        delete from user where id = #{id}
    </delete>
</mapper>